<template>
    <div class="tab-currency mt-6">
        <table>
            <thead>
            <tr>
                <th colspan="2">Name</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Avalanche</th>
                <td><span>AVAX</span></td>
                <td>10 AVAX</td>
            </tr>
            <tr>
                <th>GritGlobal</th>
                <td><span>GRIT</span></td>
                <td>10 GRIT</td>
            </tr>
            <tr>
                <th>Pandora</th>
                <td><span>PANDORA</span></td>
                <td>10 PANDORA</td>
            </tr>
            <tr>
                <th>Defrogs</th>
                <td><span>DEFROGS</span></td>
                <td>10 DEFROGS</td>
            </tr>
            <tr>
                <th>404 Bakery</th>
                <td><span>BAKE</span></td>
                <td>10 BAKE</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script setup lang="ts">

</script>

<style lang="scss" scoped>
    .tab-currency { text-align: center;
        table {margin: 0 auto; border-spacing: 0; border-collapse: collapse; text-align: left;
            th, td {padding: 6px 15px; font-size: 16px;}
            th {font-weight: 600;}
            tbody {
                th, td { font-size: 14px;}
            }
            span {color: #777;}
        }
    }
</style>
