<template>
    <div class="tab-erc-form pt-6 w-full">
        <div class="max-w-[500px] m-auto" v-if="!state.showAddressForm || !state.ercAddress">
            <h2 class="font-semibold mb-6 text-xl text-center">Create Your ERC-404</h2>
            <UForm :validate="validate" :state="state.formModel" class="space-y-4" @submit="onSubmit">
                <UFormGroup label="Name" name="name">
                    <UInput v-model="state.formModel.name"/>
                </UFormGroup>
                <UFormGroup label="Symbol" name="symbol">
                    <UInput v-model="state.formModel.symbol"/>
                </UFormGroup>
                <div class="grid grid-cols-2 gap-4 w-full">
                    <div>
                        <UFormGroup label="Total Supply" name="totalSupply">
                            <UInput v-model="state.formModel.totalSupply" type="number"/>
                        </UFormGroup>
                    </div>
                    <div>
                        <UFormGroup label="Decimals" name="decimals">
                            <UInput v-model="state.formModel.decimals" type="number"/>
                        </UFormGroup>
                    </div>
                </div>
                <UFormGroup label="Description" name="description">
                    <UTextarea v-model="state.formModel.description"/>
                </UFormGroup>
                <UFormGroup label="Data URI" name="dataUri">
                    <UInput v-model="state.formModel.dataUri"/>
                </UFormGroup>
                <!--
                <UFormGroup label="Seeds Options" name="toggleSeedsOptions" class="flex justify-between pt-2">
                    <UToggle v-model="state.formModel.toggleSeedsOptions"/>
                </UFormGroup>
                <template v-if="state.formModel.toggleSeedsOptions && state.formModel.seedsOptions.length">
                    <div v-for="(seed, idx) in state.formModel.seedsOptions" :key="idx" class="flex items-center">
                        <div class="flex-1">
                            <div class="grid grid-cols-2 gap-4 w-full">
                                <div>
                                    <UFormGroup name="key">
                                        <UInput v-model="state.formModel.seedsOptions[idx].key"/>
                                    </UFormGroup>
                                </div>
                                <div>
                                    <UFormGroup name="value">
                                        <UInput v-model="state.formModel.seedsOptions[idx].value"/>
                                    </UFormGroup>
                                </div>
                            </div>
                        </div>
                        <div class="pl-4">
                            <UButton color="gray" class="px-3" size="sm" @click="() => state.formModel.seedsOptions.splice(idx, 1)">
                                -
                            </UButton>
                        </div>
                    </div>
                </template>
                <div v-if="state.formModel.toggleSeedsOptions" class="flex justify-end">
                    <UButton color="gray" size="sm" @click="() => state.formModel.seedsOptions.push({key: '', value: ''})">
                        + option
                    </UButton>
                </div>
                -->
                <div class="flex justify-end pt-6">
                    <UButton type="submit" size="xl" class="px-10" color="black">
                        Create
                    </UButton>
                </div>
            </UForm>
        </div>
        <div v-if="state.showAddressForm && state.ercAddress">
            <div class="max-w-[500px] m-auto">
                <h2 class="font-semibold mb-6 text-xl text-center pb-10">ERC-404 Address</h2>
                <div class="flex w-full relative">
                    <div class="flex-1">
                        <UInput v-model="state.ercAddress" disabled class="w-full"/>
                    </div>
                    <UButton color="gray" class="absolute right-0 top-0 z-10" @click="copyAddress">
                        <UIcon name="i-clarity-copy-to-clipboard-line" class="w-5 h-5 flex-shrink-0 mr-1" dynamic/>
                        Copy
                    </UButton>
                </div>
                <div class="flex w-full justify-center pt-10">
                    <UButton color="black" size="xl"
                             @click="state.ercAddress = ''; state.showAddressForm = false">
                        New ERC 404 Form
                    </UButton>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    import type { FormError, FormSubmitEvent } from '#ui/types'
    import { deployContract } from '~/utils/contracts'

    const store            = useCommonStore()
    const defaultForm: any = {
        name              : null,
        symbol            : null,
        totalSupply       : null,
        decimals          : 18,
        description       : null,
        destination       : null,
        dataUri           : null,
        toggleSeedsOptions: false,
        seedsOptions      : []
    }


    const state = reactive({
        formModel      : Object.assign({}, defaultForm),
        showAddressForm: false,
        ercAddress     : ''
    })

    onMounted(() => {
        state.formModel       = Object.assign({}, defaultForm)
        state.showAddressForm = false
        state.ercAddress      = ''
    })

    const validate = (formData: any): FormError[] => {
        if (formData.toggleSeedsOptions && !state.formModel.seedsOptions.length) {
            state.formModel.seedsOptions.push({key: '', value: ''})
        }
        const errors = []
        if (!formData.name) errors.push({path: 'name', message: 'Name is required'})
        if (!formData.symbol) errors.push({path: 'symbol', message: 'Symbol is required'})
        if (!formData.totalSupply) errors.push({path: 'totalSupply', message: 'Total Supply is required'})
        if (!formData.decimals) errors.push({path: 'decimals', message: 'Decimals is required'})
        if (!formData.dataUri) errors.push({path: 'dataUri', message: 'Data Uri is required'})
        return errors
    }

    async function onSubmit(event: FormSubmitEvent<any>) {
        // Do something with data
        console.log(state.formModel)
        if (store.getMetaMask.currentAccount) {
            console.debug('deploying...')
            store.setPageLoading(true)
            deployContract(state.formModel, store.getMetaMask.currentAccount).then((result: any) => {
                if (result.isSuccess) {
                    store.showMessage('Successfully deployed', 'success')
                    state.showAddressForm = true
                    state.ercAddress      = result.deployedAddress
                } else {
                    store.showMessage('Failed to deploy', 'error')
                }
                store.setPageLoading(false)
            })
        }

    }

    const copyAddress = async () => {
        const copyText: string = state.ercAddress || ''
        if (!copyText) {
            return
        }
        try {
            const permissionResult = await navigator.permissions.query({name: 'clipboard-write' as PermissionName})
            if (permissionResult.state === 'granted' || permissionResult.state === 'prompt') {
                await navigator.clipboard.writeText(copyText)
                store.showMessage('Copied to Clipboard!')
            }
        } catch (e) {
            console.log('Failed to copy: ', e)
            store.showMessage('Failed to copy!')
        }
    }

</script>

<style lang="scss">
    .destination-opts {
        fieldset { display: flex; width: 100%; margin-top: 5px;
            > div + div { margin-left: 40px;}
        }
    }
</style>
