<template>
    <div class="grid grid-cols-3 gap-6 mt-6 tab-nft min-w-full" v-if="store.nftData && store.nftData.length">
        <div v-for="(nft, idx) in store.nftData" :key="idx">
            <UCard :ui="cardUi">
                <div class="aspect-square overflow-hidden rounded-t-md relative bg-[#ddd]">
                    <img :src="nft.image" :alt="nft.name" class="max-w-full max-h-full absolute left-0 top-1/2 -translate-y-1/2">
                </div>
                <template #footer>
                    <div class="flex justify-between items-center">
                        <div class="flex-1 pr-4">
                            <h3 class="m-0 p-0 font-semibold text-md">{{ nft.name }}</h3>
                            <p class="m-0 p-0 text-[#aaa] text-[12px]">{{ nft.description }}</p>
                        </div>
                        <div>
                            <UPopover>
                                <UButton color="black" label="Send" trailing-icon="i-heroicons-chevron-down-20-solid"/>
                                <template #panel>
                                    <div class="flex bg-[#fff] p-3 items-end">
                                        <div class="flex-1 pr-3">
                                            <UFormGroup label="To Address">
                                                <UInput v-model="nft.sent_to_address" class="w-[250px]" icon="i-heroicons-home"/>
                                            </UFormGroup>
                                        </div>
                                        <div>
                                            <UButton color="black" @click="handleSendNFT(idx)" title="send">
                                                <UIcon name="i-heroicons-paper-airplane" class="w-5 h-5 flex-shrink-0" dynamic/>
                                            </UButton>
                                        </div>
                                    </div>
                                </template>
                            </UPopover>
                        </div>
                    </div>
                </template>
            </UCard>
        </div>
    </div>
    <div v-else class="block text-center w-full py-14">
        <template v-if="store.isPageLoading">
            Data Processing ...
        </template>
        <template v-else>
            Empty Data!
        </template>
    </div>
</template>

<script setup lang="ts">
    import { sendNFT } from '~/utils/contracts'

    const cardUi: any = {
        strategy: 'override',
        rounded : 'rounded-md',
        divide  : 'divide-none',
        body    : {
            padding: 'p-0'
        },
        footer  : {
            padding: 'p-4'
        },
        ring    : ''
    }

    const store         = useCommonStore()
    const handleSendNFT = async (nftIndex: number) => {

        const nft = store.nftData[nftIndex]

        console.debug('sendNFT input:', store.getMetaMask.currentAccount, nft.sent_to_address, nft.id, nft.contractIdx)
        if (nft.sent_to_address && nft.sent_to_address.length > 0) {
            // set loading = true
            store.setPageLoading(true)

            // sendNFT(store.getMetaMask.currentAccount, nft.sent_to_address, nft.id, nft.contractIdx)
            sendNFT(store.getMetaMask.currentAccount, nft.sent_to_address, nft.id, nft.contractIdx)
                .then(() => {
                    // remove nft from list
                    store.nftData.splice(nftIndex, 1)
                    console.debug('send nft successfully')
                    store.showMessage('Send NFT successfully', 'success')
                }).catch((error: any) => {
                console.error('send nft fail:', error)
                store.showMessage('Send NFT fail', 'error')
            })
                .finally(() => {
                    // set loading = false
                    store.setPageLoading(false)
                })
        }
    }

</script>

<style lang="scss" scoped>

</style>
