<template>
    <div class="tab-marketplace mt-6 min-h-full w-full">
        <UTabs :items="items" orientation="vertical" :ui="tabsUi">
            <template #item="{ item }">
                <div class="block min-h-full w-full bg-[#fff] rounded-lg border border-[#ddd]">
                    <div class="flex w-full min-h-full items-center justify-center opacity-50">
                        <img src="/coming-soon.png" alt="coming-soon" class="m-auto max-w-[500px] h-auto" style="filter: grayscale(100%)"/>
                    </div>
                </div>
            </template>
        </UTabs>
    </div>
</template>

<script setup lang="ts">
    const items = [
        {
            label: 'Swap'
        },
        {
            label: 'Liquidity'
        },
        {
            label: 'OrderBook'
        }
    ]

    const tabsUi: any = {
        wrapper  : 'flex gap-6 min-h-full ver-tabs',
        container: 'relative w-full min-h-full !pt-0 !mt-0',
        list     : {
            background: 'bg-black',
            width     : 'w-[20%]'
        },
        tab      : {
            inactive: 'text-[#fff]'
        }
    }
</script>

<style lang="scss" scoped>

</style>
