<template>
    <div class="block h-full w-full absolute z-10">
        <div class='main-bg-white'>
            <div class='main-bg-squares'>
                <div class='square-item'><img src="/crypto-logo/BTC.png" alt="BTC"/></div>
                <div class='square-item'><img src="/crypto-logo/IOT.png" alt="IOT"/></div>
                <div class='square-item'><img src="/crypto-logo/NEO.png" alt="NEO"/></div>
                <div class='square-item'><img src="/crypto-logo/TRX.png" alt="TRX"/></div>
                <div class='square-item'><img src="/crypto-logo/XLM.png" alt="XLM"/></div>
                <div class='square-item'><img src="/crypto-logo/BNB.png" alt="BNB"/></div>
                <div class='square-item'><img src="/crypto-logo/XMR.png" alt="XMR"/></div>
                <div class='square-item'><img src="/crypto-logo/ZEN.png" alt="ZEN"/></div>
                <div class='square-item'><img src="/crypto-logo/ETC.png" alt="ETC"/></div>
                <div class='square-item'><img src="/crypto-logo/ETH.png" alt="ETH"/></div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .main-bg-white {
        height: 100vh;
    }
    .main-bg-white:before {
        z-index: 1000;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60vh;
        background-image: linear-gradient(-180deg, #f3f2f2 0%, rgba(255, 255, 255, 0) 100%);
    }
    .main-bg-white:after {
        z-index: 1000;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40vh;
        background-image: linear-gradient(0deg, #f3f2f2 0%, rgba(235, 235, 235, 0) 100%);
    }
    .main-bg-squares {
        height: 100%;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        opacity: 0.4;
    }
    .square-item {
        -webkit-animation: main-bg-squares 9.5s linear infinite;
        animation: main-bg-squares 9.5s linear infinite;
        align-self: flex-end;
        width: 100px;
        height: 100px;
        transform: translateY(100%);
        -webkit-filter: blur(7px);
    }
    .square-item img {
        display: block;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .square-item:nth-child(2) {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-animation-duration: 17s;
        animation-duration: 17s;
        -webkit-filter: blur(7px);
    }
    .square-item:nth-child(3) {
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
        -webkit-animation-duration: 8s;
        animation-duration: 8s;
        -webkit-filter: blur(15px);
    }
    .square-item:nth-child(4) {
        -webkit-animation-delay: 12s;
        animation-delay: 12s;
        -webkit-filter: blur(10px);
        -webkit-animation-duration: 13s;
        animation-duration: 13s;
    }
    .square-item:nth-child(5) {
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        -webkit-filter: blur(7px);
        -webkit-animation-duration: 11s;
        animation-duration: 11s;
    }
    .square-item:nth-child(6) {
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
        -webkit-filter: blur(10px);
        -webkit-animation-duration: 9s;
        animation-duration: 9s;
    }
    .square-item:nth-child(7) {
        -webkit-filter: blur(7px);
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
    }
    .square-item:nth-child(8) {
        -webkit-animation-delay: 15s;
        animation-delay: 15s;
        -webkit-filter: blur(7px);
        -webkit-animation-duration: 18s;
        animation-duration: 18s;
    }
    .square-item:nth-child(9) {
        -webkit-filter: blur(7px);
        -webkit-animation-duration: 9s;
        animation-duration: 9s;
    }
    .square-item:nth-child(9) {
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
        -webkit-filter: blur(7px);
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
    }
    @-webkit-keyframes main-bg-squares {
        from {
            transform: translateY(100%) rotate(-50deg);
        }
        to {
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
        }
    }
    @keyframes main-bg-squares {
        from {
            transform: translateY(100%) rotate(-50deg);
        }
        to {
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
        }
    }
</style>
<script setup lang="ts">
</script>
