<template>
    <div class="block h-full relative">
        <blur-bg />
        <div class="flex flex-col h-full p-10 pb-0 max-w-[1200px] m-auto relative z-20">
            <div class='site-header pb-10'>
                <div class="flex justify-between items-center">
                    <div class="logo">
                        <div class="flex items-start">
                            <img src="/logo.png" alt="logo" class="m-0 h-[40px] w-auto">
                            <b class="text-[47px] text-[#2396F3] ml-[12px] -mt-[5px]" style="line-height: 1;">404Fi</b>
                        </div>
                        <em class="text-[10px] text-[#888] block pt-[2px]">Unlocking Liquidity for NFT Markets</em>
                    </div>
                    <div>
                        <UButton size="xl" :color="store.getMetaMask?.currentAccount ? 'black' : 'gray'"
                            @click="handleWalletConnect">
                            <UIcon name="i-ph-wallet-light" class="w-7 h-7 flex-shrink-0 mr-1" dynamic />
                            {{ store.getMetaMask?.buttonText }}
                        </UButton>
                    </div>
                </div>
            </div>
            <div class="flex-1 overflow-auto">
                <slot />
            </div>
            <div class="site-footer pb-4 pt-10">
                <div class="text-xs text-center">@2024 - GritGlobal</div>
            </div>
        </div>
        <Loading v-model:active="store.isPageLoading"/>
    </div>
</template>

<script setup lang="ts">
import 'vue-loading-overlay/dist/css/index.css'
import 'vue3-toastify/dist/index.css'
import '@/styles/global.css'
import Loading from 'vue-loading-overlay'
import BlurBg from '~/components/blur-bg.vue'
import { setConnected } from '~/utils/wallet-connect'
import { getNFTsOfOwner } from '~/utils/contracts'

const store = useCommonStore()
// ==================================
// ===== WALLET CONNECT HANDLER =====
// ==================================

const handleWalletConnect = () => {
    console.debug(`metaMaskState=${store.getMetaMask?.state}`)

    if (store.getMetaMask?.state == 0) {
        // connect metaMask wallet
        store.getEthereum?.request({
            method: 'wallet_requestPermissions', params: [
                {
                    eth_accounts: {}
                }
            ]
        })
            .then((accounts: any) => {
                console.debug(accounts)
                setConnected(true)
                const addr = accounts[0]?.caveats?.[0]?.value?.[0]
                store.setMetaMask({ 'state': 1, 'buttonText': 'Disconnect MetaMask', 'currentAccount': addr })
                
                // get all nft
                store.setPageLoading(true)
                getNFTsOfOwner(addr)
                .then((nfts) => {
                    store.setNftData(nfts)
                })
                .finally(() =>{
                    store.setPageLoading(false)
                })
            })
            .catch((err) => {
                setConnected(false)
                store.setMetaMask({ 'state': 0, 'buttonText': 'Connect MetaMask', 'currentAccount': undefined })
                if (err.code === 4001) {
                    // EIP-1193 userRejectedRequest error
                    // If this happens, the user rejected the connection request.
                    console.debug('Please connect to MetaMask.')
                } else {
                    console.error(err)
                }
            })
    } else if (store.getMetaMask?.state == 1) {
        // disconnect metaMask wallet
        console.debug('disconnecting...')
        store.getEthereum?.request({
            'method': 'wallet_revokePermissions',
            'params': [
                {
                    'eth_accounts': {}
                }
            ]
        }).then(() => {
            console.debug('disconnected')
            setConnected(false)
            store.setMetaMask({ 'state': 0, 'buttonText': 'Connect MetaMask' })
        })
        store.setNftData([])
    }

}

// ==================================
// === END WALLET CONNECT HANDLER ===
// ==================================
</script>

<style lang="scss" scoped></style>
