<template>
    <NuxtLayout>
        <UTabs :items="tabs" :ui="tabsUI" class="w-full h-full flex flex-col main-tabs" @change="onTabChange">
            <template #default="{ item, index, selected }">
                <div class="flex items-center gap-2 relative truncate">
                    <UIcon :name="item.icon" class="w-5 h-5 flex-shrink-0" dynamic/>
                    <span class="truncate">{{ item.label }}</span>
                    <span v-if="selected"
                          class="absolute -right-4 w-2 h-2 rounded-full bg-primary-500 dark:bg-primary-400"/>
                </div>
            </template>
            <template #item="{ item }">
                <tabs-nft v-if="state.currentTabIndex === 0"/>
                <tabs-erc-form v-if="state.currentTabIndex === 1"/>
                <tabs-marketplace v-if="state.currentTabIndex === 2"/>
                <tabs-trade v-if="state.currentTabIndex === 3"/>
                <tabs-currency v-if="state.currentTabIndex === 4"/>
            </template>
        </UTabs>

    </NuxtLayout>
</template>

<script lang="ts" setup>
    import { reactive } from 'vue'

    const tabs = [
        {
            key  : 'nft',
            label: 'NFTs',
            icon : 'i-ph-image'
        },
        {
            key  : 'erc_form',
            label: 'Create ERC-404',
            icon : 'i-mynaui-rows'
        },
        {
            key  : 'marketplace',
            label: 'Marketplace',
            icon : 'i-mynaui-store'
        },
        {
            key  : 'trade',
            label: 'Trade',
            icon : 'i-mynaui-arrow-left-right'
        }
        // {
        //     key  : 'currencies',
        //     label: 'Currencies',
        //     icon : 'i-mynaui-dollar-square'
        // },
    ]

    const tabsUI: any = {
        list: {
            background: 'bg-black'
        },
        tab : {
            inactive: 'text-[#fff]'
        }
    }

    const state = reactive({
        currentTabIndex: 0 as number,
        metaMaskState  : 0 as number, // not connected, 2: connected
        buttonText     : 'connect wallet' as string,
        currentAccount : undefined as any
    })

    const onTabChange = (index: number) => {
        state.currentTabIndex = index
    }
</script>

<style lang="scss">
    .main-tabs > div:first-child button[aria-selected=false],
    .main-tabs .ver-tabs > div:first-child button[aria-selected=false] { color: #fff;}
    .main-tabs .ver-tabs > div:first-child button { justify-content: flex-start}
    .main-tabs > div:last-child {flex: 1; overflow: auto;padding: 2px;}
    .main-tabs [role="tabpanel"][data-headlessui-state="selected"] {min-height: 100%; display: flex; width: 100%;}
</style>
