html, body {height: 100%; overflow: hidden;}
body > #__nuxt {height: 100%;display: block;}
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent; }
::-webkit-scrollbar:horizontal {
    height: 10px; }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #eee; }
